[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
requests = "*"
python-dotenv = "*"
uvloop = "*"
httptools = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
isort = "*"
flake8 = "*"
mypy = "*"
black = "*"
anyio = "*"

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn night_salon.server.server:app --reload --host ${HOST} --port ${PORT}"
start-prod = "uvicorn night_salon.server.server:app --workers 4 --host ${HOST} --port ${PORT}"
dev = "python main.py"
test = "python scripts/test_websocket.py"
format = "black ."
format-isort = "isort ."
lint = "flake8 ."
typecheck = "mypy ."
