[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
websockets = "*"
asyncio = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.11"

[scripts]
start = "python main.py"
format = "black ."
lint = "flake8 ."
typecheck = "mypy ."
